<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegistrationCtl</servlet-name>
		<display-name>RegistrationCtl</display-name>
		<description></description>
		<servlet-class>in.co.rays.ctl.RegistrationCtl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCookie</servlet-name>
		<display-name>GetCookie</display-name>
		<description></description>
		<servlet-class>in.co.rays.ctl.GetCookie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutCtl</servlet-name>
		<display-name>LogoutCtl</display-name>
		<description></description>
		<servlet-class>in.co.rays.ctl.LogoutCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationCtl</servlet-name>
		<url-pattern>/RegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCookie</servlet-name>
		<url-pattern>/GetCookie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutCtl</servlet-name>
		<url-pattern>/LogoutCtl</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
